  <form action='/createbookmark'>
      <table border="1">
        <tr>
          <th>Title</th>
          <th>URL</th>
        </tr>
        <% @bookmarks.each do |bookmark| %>
        <tr>
          <td> <%= bookmark.title %></td>
          <td> <a href="<%= bookmark.url %>"><%= bookmark.url%></a> </td>
        </tr>
        <% end %>
      </table>
    </br>
    <input type='submit' value='Create Bookmark'>
  </form>
