<form action='/createbookmark' method='post'>
<h1> Save new bookmark </h1>
  <input type='text' name='title' size='20'>
  <input type='text' name='newurl' size='20'>
  </br>
  <input type='submit' value='Save'>
  <%=@return_value_for_screen%>
</form>
