
<form action='/bookmarks' method='post'>
<h1> Save new bookmark </h1>
  Bookmark Title: <input type='text' name='title' size='20'>
  Bookmark URL: <input type='text' name='newurl' size='20'>
  </br>
  </br>
  <input type='submit' value='Save'>
</form>
