
<form action='/updatebookmark' method='post'>
<h1> Update Bookmark </h1>
  <input type='hidden' name='id' value='<%= @bookmark.id %>'>
  Bookmark Title: <input type='text' name='title' value='<%= @bookmark.title %>' size='20'>
  Bookmark URL: <input type='text' name='url' value='<%= @bookmark.url %>' size='20'>
  </br>
  </br>
  <button type='submit' value='<%= @bookmark.id %>'> Save </button>
</form>
